/* Layout
-------------------------------------------------*/

body {
    font-family:  Helvetica, "Trebuchet MS", sans-serif;
}

.container {
    max-width: 900px;
}

/* Barra de navegação
-------------------------------------------------*/

.navbar-light .navbar-nav .nav-link.active {
    color: #001d3d;
}

.navbar-light .navbar-nav .nav-link {
    color: #005bb1;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #001d3d;
}

/* Sessão capa
-------------------------------------------------*/

.texto-alinhamento {
    text-align: justify;
}

/* Sessão sobre
-------------------------------------------------*/


/* Tipografia
-------------------------------------------------*/

a {
    text-decoration: none;
}

h3 {
    color: #005bb1
}

/* formulário
-------------------------------------------------*/

/* Rodapé
-------------------------------------------------*/

footer .container{
    background-color: #001d3d;
    font-size: 0.8rem;
    border-radius: 15px 15px 0 0;
}



/* Dispositivos extra small (telefones em modo retrato, com menos de 576px)*/
@media (max-width: 575.98px) {
    
}

/* Dispositivos small (telefones em modo paisagem, com 576px ou mais)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    
}

/* Dispositivos mÃĐdios (tablets com 768px ou mais)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    
}

/* Dispositivos large (desktops com 992px ou mais)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    
}

/* Dispositivos extra large (desktops grandes com 1200px ou mais)*/
@media (min-width: 1200px) {
    
}