/* Layout
-------------------------------------------------*/
html, body, #home {
    height: 100%;
    overflow: hidden;
}

body {
    font: 12px Helvetica, "Trebuchet MS", sans-serif;
    background: url(../img/fundo2.png) repeat-x;
}

/* Barra de navegação
-------------------------------------------------*/
.navbar-light .navbar-nav .nav-link {
    color: #011091;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #001aff;
}

.navbar-nav ul li a {
    padding-bottom: 5px;
}

#nav-principal a:hover {
    text-decoration: underline;
} 

.divisor {
    width: 1px;
    background: #011091;
    margin: 12px 15px;
}